<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - ToDoList</title>
  <link rel="stylesheet" href="~/css/normalize.css" />
  <link rel="stylesheet" href="~/css/main.css" />
  <link rel="stylesheet" href="~/css/responsive.css" />
</head>
<body>
  <header>
    <nav>
      <a class="logo" href="/Index">TaskButler&#x2713;</a>  @ViewData["Header"]
    <partial name="_LoginPartial" />
    </nav>
  </header>

  <main>
    @RenderBody()
  </main>

  <footer>
  </footer>

  <script src="~/js/site.js"></script>

  @RenderSection("Scripts", required: false)
</body>
</html>
