@using Microsoft.AspNetCore.Identity
@using ToDoList.Models;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@*@if (!SignInManager.IsSignedIn(User))
{
  <a class="authentication-link" id="register" asp-area="Identity" asp-page="/Register">Register</a>
  <hr class="vertical-split" />
  <a class="authentication-link" id="login" href="/Login"> Login</a>
}*@
