@page
@model ToDoList.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ToDoListItem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ToDoListItem.Id" />
            <div class="form-group">
                <label asp-for="ToDoListItem.UserEmail" class="control-label"></label>
                <input asp-for="ToDoListItem.UserEmail" class="form-control" />
                <span asp-validation-for="ToDoListItem.UserEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ToDoListItem.Description" class="control-label"></label>
                <input asp-for="ToDoListItem.Description" class="form-control" />
                <span asp-validation-for="ToDoListItem.Description" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ToDoListItem.IsCompleted" /> @Html.DisplayNameFor(model => model.ToDoListItem.IsCompleted)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./TaskIndex">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
