@page
@using Microsoft.AspNetCore.Identity
@model ToDoList.CreateModel


@inject UserManager<IdentityUser> UserManager

@{
  ViewData["Title"] = "Create";
  ViewData["Header"] = @UserManager.GetUserName(User) + "'s To-Do List";
}

<h1>Create</h1>

<h4>ToDoListItem</h4>
<hr />
<div class="row">
  <div class="col-md-4">
    <form method="post">
      <div asp-validation-summary="ModelOnly" class="text-danger"></div>
      <div class="form-group" >
        @*<label asp-for="ToDoListItem.UserEmail" class="control-label"></label>*@
       @* concern that there may be browser vulnerabilities (being able to change useremail value)*@
        <input asp-for="ToDoListItem.UserEmail" class="form-control" value="@UserManager.GetUserName(User)" placeholder="User Email"  />
        <span asp-validation-for="ToDoListItem.UserEmail" class="text-danger"></span>
      </div>
      <div class="form-group">
        @*<label asp-for="ToDoListItem.description" class="control-label"></label>*@
        <input asp-for="ToDoListItem.Description" class="form-control" placeholder="Enter Task" />
        <span asp-validation-for="ToDoListItem.Description" class="text-danger"></span>
      </div>
      @*<div class="form-group form-check">
        <label class="form-check-label">
          <input class="form-check-input" asp-for="ToDoListItem.IsCompeleted" checked /> @Html.DisplayNameFor(model => model.ToDoListItem.IsCompeleted)
        </label>
      </div>*@
      <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
      </div>
    </form>
  </div>
</div>

<div>
  <a asp-page="TaskIndex">Back to List</a>
</div>

@section Scripts {
  @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
