@page
@model LoginModel

@{
  ViewData["Title"] = "Log in";
  ViewData["Header"] = "";
}

<link rel="stylesheet" href="~/css/login.css" />

<div class="login-form-container-wrapper">
  <div class="login-form-container">
    <section>
      <form id="account" method="post">
        <h4>Log In</h4>
        @*<div asp-validation-summary="All" class="text-danger"></div>*@
        <div class="form-group">
          <input asp-for="Input.Email" class="form-control" placeholder="Email Address" />
          <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <br />
        <div class="form-group">
          <input asp-for="Input.Password" class="form-control" placeholder="Password" />
          <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <br />

        <div>
          <label class="button-hover" asp-for="Input.RememberMe">
            <input class="checkbox button-hover" asp-for="Input.RememberMe" />
            @Html.DisplayNameFor(m => m.Input.RememberMe)
          </label>
        </div>

        <br />
        <div class="form-group">
          <button type="submit" class="login-button button-hover">Log in</button>
        </div>
        <div class="form-group">
          @*<p>
              <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
            </p>*@
        </div>
        <p>
          <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
        </p>
      </form>
    </section>
  </div>
</div>

@section Scripts {
  <partial name="_ValidationScriptsPartial" />
}
