html {
  font-family: "Arial";
}

a {
  color: black;
}

nav a {
  color: black;
  text-decoration: none;
}

.addtask-button {
  background-color: #ffead6;
  border: 1px solid gray;
  border-radius: 2px;
  padding: 5px 5px;
}

.button-hover:hover, .checkbox:hover {
  cursor: pointer;
}

body {
  background-color: #ffead6;
}

.checkbox {
  margin-right: 5px;
}

.checkbox-container {
  display: inline;
  margin-right: 5px;
}

.checkbox-form {
  display: inline;
}

.completed-task {
  text-decoration: line-through;
}

.delete-link {
  background-color: inherit;
  border: none;
  padding: 3px 9px 3px 9px;
  margin-right: 5px;
}

.delete-form {
  display: inline;
  position: absolute;
  right: 0;
  padding: 0px;
  text-decoration: none;
  background-color: rgb(255, 204, 153);
}

.edit-button {
  position: absolute;
  right: 40px;
  padding: 3px 10px;
  background-color: #ffead6;
  border: 1px solid gray;
  border-radius: 2px;
}

  .edit-bar {
  display: none;
  padding-top: 0px;
  padding-bottom: 0px;
}

header {
  border-bottom: 1px gray solid;
  padding: 20px 10px;
  margin-bottom: 40px;
  text-align: center;
  background-color: rgb(255, 204, 153);
}

.input-box {
  border: 1px solid gray;
  border-radius: 2px;
  padding: 5px;
}

.list-container {
  text-align: left;
  width: 75%;
  margin: 0 auto;
  border: 1px gray solid;
  border-radius: 5px;
  padding: 0px 0px 20px 0px;
  background-color: rgb(255, 204, 153);
}

.list-container-wrapper {
  width: 50vw;
  margin: 0 auto;
  text-align: center;
}

.login-form-container {
  text-align: center;
  width: 60%;
  margin: 0 auto;
  border: 1px gray solid;
  border-radius: 5px;
  padding: 0px 0px 20px 0px;
}

.login-form-container-wrapper {
  width: 50vw;
  margin: 0 auto;
  text-align: center;
}

.logout-button {
  background-color: rgb(255, 204, 153);
  border: 1px solid gray;
  border-radius: 2px;
  padding: 5px 10px;
  margin-top: 10px;
}

.save-button {
  position: absolute;
  right: 40px;
  padding: 3px 5.5px;
  background-color: #ffead6;
  border: 1px solid black;
  border-radius: 2px;
}

.save-button:hover {
  cursor: pointer;
}

.task-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

  .task-list li {
    padding: 10px 20px;
    position: relative;
  }

.task-list-header, .task-list-inputbar {
  padding-left: 20px;
}

.taskListItem {
  cursor: pointer;
}
