html {
  font-family: "Arial";
}

a {
  color: black;
}

nav a {
  color: black;
  text-decoration: none;
}

.completed-task {
  text-decoration: line-through;
}

.delete-link {
  background-color: inherit;
  border: none;
  padding: 11px 16px 9px 16px;
}

.delete-link:hover {
  background-color: red;
}

.delete-form {
  display: inline;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0px;
  text-decoration: none;
  background-color: white;
  //background-color: #f44336;
}

.delete-form:hover {
  background-color: white;
}

header {
  border-bottom: 1px gray solid;
  padding: 20px 10px;
  margin-bottom: 50px;
  text-align: center;
}

.input-box {
}

.list-container {
  text-align: left;
  width: 75%;
  margin: 0 auto;
  border: 1px gray solid;
  border-radius: 5px;
  padding: 0px 0px 20px 0px;
}

.list-container-wrapper {
  width: 50vw;
  margin: 0 auto;
  text-align: center;
}

.login-form-container {
  text-align: center;
  width: 60%;
  margin: 0 auto;
  border: 1px gray solid;
  border-radius: 5px;
  padding: 0px 0px 20px 0px;
}

.login-form-container-wrapper {
  width: 50vw;
  margin: 0 auto;
  text-align: center;
}

.task-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.task-list li {
  padding: 10px 20px;
  /*changes the style of the cursor type when it hovers over a list item*/
  cursor: pointer;
  position: relative;
}

.task-list li:hover {
  background-color: gray;
}

.task-list-header {
  padding-left: 20px;
}

.task-list-inputbar {
  padding-left: 20px;
}
