/* media queries */

/*Large devices (desktops, less than 1200px)*/
@media (max-width: 1200px) {
  .list-container {
    width: 50%;
  }
}


/*Medium devices (tablets, less than 992px)*/
@media (max-width: 992px) {
  .list-container {
    width: 60%;
  }
}

/*Small devices (landscape phones, less than 768px)*/
@media (max-width: 768px) {
  html {
    font-size: 1.2rem;
  }

  .list-container {
    width: 80%;
  }
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 576px) {

  .addtask-button {
    margin-top: 5px;
  }

  .edit-input-box {
    width: 60%;
  }

  .edit-div {
    margin-bottom: 35px;
  }

  h2 {
    font-size: 1.2rem;
  }

  header {
    padding: 10px 10px;
  }

  .list-container {
    width: 95%;
  }

  /* temporary till responsive nav */
  .logo {
    display: block;
    margin-bottom: 5px;
  }

  nav {
    display: block;
  }

  .save-button {
    right: 0;
    left: 45px;
    display: block;
    margin-top: 5px;
  }
}

@media (max-width: 322px) {
  .addtask-button {
    display: block;
  } 

  .input-box {
    width: 80%;
  }

}




