@page
@using ToDoList;
@model RegisterModel;
@{
  ViewData["Title"] = "Register";
  ViewData["Header"] = "";
}

<link rel="stylesheet" href="~/css/forms.css" />
<link rel="stylesheet" href="~/css/forms-responsive.css" />

<div class="login-form-container-wrapper">
  <div class="login-form-container">
    <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
      <h4>Create a new account.</h4>
      <div asp-validation-summary="All" class="text-danger"></div>

      @*<div class="form-group">
      <input required asp-for="Input.UserName" class="form-control" placeholder="Username" />
      <span asp-validation-for="Input.UserName" class="text-danger"></span>
    </div>
    <br />*@
      <div class="form-group">
        <input required asp-for="Input.DisplayName" class="form-control" placeholder="Username" />
        @*<span asp-validation-for="Input.DisplayName" class="text-danger"></span>*@
      </div>
      <br />
      <div class="form-group">
        <input required asp-for="Input.Email" class="form-control" placeholder="Email Address" />
        @*<span asp-validation-for="Input.Email" class="text-danger"></span>*@
      </div>
      <br />
      <div class="form-group">
        <input required asp-for="Input.Password" class="form-control" placeholder="Password" />
        @*<span asp-validation-for="Input.Password" class="text-danger"></span>*@
      </div>
      <br />
      <div class="form-group">
        <input required asp-for="Input.ConfirmPassword" class="form-control" placeholder="Confirm Password" />

      </div>
      <div asp-validation-for="Input.ConfirmPassword" class="text-danger"></div>
      <br />
      <button type="submit" class="register-button button-hover">Register</button>
      <p>
        Already have an account? <a class="authentication-link" asp-page="/Login" asp-route-returnUrl="@Model.ReturnUrl">Login here</a>
      </p>
    </form>
  </div>
</div>

@section Scripts {
  <partial name="_ValidationScriptsPartial" />
}
